<div class="col-xs-3 sidebar collection-sidebar">
  {% if settings.display_sidebar_categories %}
  <div class="widget sidebar-links">
    <div class="widget-title">
      <h3>
        
          <span>{{ settings.sidebar_categories_title | split: '|' | first }}</span>

      </h3>
    </div>
    <div class="widget-content">
     
      <ul>
        {% if settings.style_categories == 'style_show_all' %}
          {% for category in collections %}
        {%- comment %}<locksmith:f173>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: category, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:f173>{% endcomment -%}
        {% if category.title == collection.title  %}
          <li>
            <a href="{{ category.url }}" {% if collection.handle == category.handle %}class="active"{% endif %}>
              
              	<span>{{ category.title | split: '|' | first }}</span>
              
            </a>
            <ul>
             	{% for link in linklists[category.handle].links %}
   		
              {%- comment %}<locksmith:320d>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[category.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:320d>{% endcomment -%}
   		
              <li><a href="{{ link.url }}"><span>{{ link.title | split: '|' | first }}</span></a></li>
            	{% endfor %}
            </ul>
          </li> 
         {% endif %}
          {% endfor %}
          
          
        {% endif %}
      </ul>
    </div>
  </div>
  {% endif %}
  
  
  
  

  
</div>