{% comment %}
collection_list = gets you the main collection handle.  ie..lips
collection_linklist = gets you all the nav links under the linklist for that category.   ie.. lips gets you lipstick, lipgloss, lipliner
collection_of_page = gets you the main collection from a collection page. Removes '-' from the url bar to get the handle.
bkg_image = gets you the main collection's banner.  Banner is used for all of its sub-collections.
{% endcomment %}

{% comment %}
This is the nav for collection pages.  
{% endcomment %}


{% if template contains 'collection'%}

{% assign collection_list =  collection.metafields.c_f.collection_type %}
{% assign collection_linklist =  linklists[collection_list].links  %}
{% assign collection_of_page =  collection.handle | remove: '-'  %}

<aside class="left-sidebar col-md-2 hidden-xs hidden-sm">
  <section class="left-side">
    <section class ="refine" id="current">
    <h4 class="refinement_header"><a href="/collections/{{collection_list| camelize }}">{{collection_list| camelize }}</a></h4>	
  <ul>
     
    {% for link in collection_linklist  %}
      {%- comment %}<locksmith:e1c3>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:e1c3>{% endcomment -%}
      <li>       
          <a href="{{link.url }}" class="navigation-link{% if {{link.handle}} == {{collection_of_page}} %} active{% endif %}">{{link.title}}</a>       
      </li>
      {% endfor %}
	</ul>
    </section> 
   
{% endif %}

   
  <section class ="refine" id="formulation">
    <a href="javascript:void(0)" class="toggleControl"><h4 class="filterTitle">Formulation</h4></a>
    <ul>
            {% assign tags = 'Cream, Cream-to-powder, Gel, Loose powder, Pressed powder, Liquid, Spray, Solid' | split: ',' %}            
              {% for t in tags %}
              {% assign tag = t | strip %}
              {% assign tagNoSpace = {{tag | replace:' ','-'}}%}
              {% if current_tags contains tag %}
              <li><a href="/collections/{{ collection.handle }}/{{tagNoSpace}}" {% if tagNoSpace  == current_tags.first  %} class="filter-link active"{% endif %}><span class="checkBox"></span>{{ tag }}</a> </li>
              {% elsif collection.all_tags contains tag %}
              <li><a href="/collections/{{ collection.handle }}/{{tagNoSpace}}" {% if tagNoSpace  == current_tags.first  %} class="filter-link active"{% endif %}><span class="checkBox"></span>{{ tag }}</a> </li>
              {% endif %}
              {% endfor %}

    </ul>
    </section>
 <section class ="refine" id="coverage">   
    <a href="javascript:void(0)" class="toggleControl"><h4 class="filterTitle">Coverage</h4> </a>
    <ul>  
            {% assign tags = 'Sheer, Sheer-to-Medium, Medium, Medium-to-Full, Full' | split: ',' %}          
              {% for t in tags %}
              {% assign tag = t | strip %}
              {% assign tagNoSpace = {{tag | replace:' ','-'}}%}
              {% if current_tags contains tag %}
              <li><a href="/collections/{{ collection.handle }}/{{tagNoSpace}}" {% if tagNoSpace  == current_tags.first  %} class="filter-link active"{% endif %}><span class="checkBox"></span>{{ tag }}</a> </li>
              {% elsif collection.all_tags contains tag %}
              <li><a href="/collections/{{ collection.handle }}/{{tagNoSpace}}" {% if tagNoSpace  == current_tags.first  %} class="filter-link active"{% endif %}><span class="checkBox"></span>{{ tag }}</a> </li>
              {% endif %}
              {% endfor %}

    </ul>
   </section>
    
    <section class ="refine" id="finish">   
    <a href="javascript:void(0)" class="toggleControl"><h4 class="filterTitle">Finish</h4> </a>
    <ul>  
            {% assign tags = 'Glitter, Luminous, Matte, Metallic, Shiny, Satin, Shimmer, Dewy' | split: ',' %}          
              {% for t in tags %}
              {% assign tag = t | strip %}
              {% assign tagNoSpace = {{tag | replace:' ','-'}}%}
              {% if current_tags contains tag %}
              <li><a href="/collections/{{ collection.handle }}/{{tagNoSpace}}" {% if tagNoSpace  == current_tags.first  %} class="filter-link active"{% endif %}><span class="checkBox"></span>{{ tag }}</a> </li>
              {% elsif collection.all_tags contains tag %}
              <li><a href="/collections/{{ collection.handle }}/{{tagNoSpace}}" {% if tagNoSpace  == current_tags.first  %} class="filter-link active"{% endif %}><span class="checkBox"></span>{{ tag }}</a> </li>
              {% endif %}
              {% endfor %}

    </ul>
   </section>
<script>
$('.toggleControl').click(function() {

    jQuery(this).next().toggle( 500 );

 
 
  });
</script>

  
 


  
  
  

    
	{% if collection.image %}
 	{% assign collection_img_url =  collection.metafields.c_f.collection_image_url %}   
	<div class="promo-img hidden-xs hidden-sm" >    
      <a href="{{collection_img_url}}">       
      <div class="promo-img-container" style="background-image: url('{{ collection.image.src | img_url: 'master' }}') ">
</div>
      </a>
	</div>
	{% endif %}

  
  
  
 
</aside>  

<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection page.
     Give you product tag filter select element a class of coll-filter.
     Give your collection select a class of coll-picker.
     Brought to you by Caroline Schnapp. */
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  jQuery('.coll-picker').change(function() {
    if (jQuery(this).val()) {
      location.href = '/collections/' + jQuery(this).val();
    }
    else {
      location.href = '/collections/all';
    }
  });
  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
    delete Shopify.queryParams.page;
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    {% if collection.handle %}
    var newURL = '/collections/{{ collection.handle }}';
    if (newTags.length) {
      newURL += '/' + newTags.join('+');
    }
    var search = jQuery.param(Shopify.queryParams);
    if (search.length) {
      newURL += '?' + search;
    }
    location.href = newURL;
    {% else %}
    if (newTags.length) {
      Shopify.queryParams.constraint = newTags.join('+');
    }
    else {
      delete Shopify.queryParams.constraint;
    }
    location.search = jQuery.param(Shopify.queryParams);
    {% endif %}
  });
</script>

<style>

.filters { list-style-type: none; }
.filter { float: left; margin-right: 15px; }
.filter label { display: block; margin: 10px 0; }
.filter select { max-width: 200px; }
</style>