{% comment %}
	code for display-card.liquid

	  Renders an display card for marketing-resources-home.liquid

	  Accepts:
	  - display: {Object} Liquid object

	  Usage:
	  {% render 'display-card', display: display %}
{% endcomment %}
{% assign url_handle = display.display_number | append: '-' | append: display.name | handleize %}
{% if display.badges.value %}
	{% capture badges %}
       {% for badge in display.badges.value %}
            {% if badge.name contains 'New' %}
              {% assign callout = "new" %}
              {% endif %}
         
              <img alt="{{ badge.name }}" class="badges" height="70" src="{{ badge.image | image_url: width: 100 }}" title="{{ badge.name }}" width="70"/>
           
                {% endfor %}
         {% endcapture %}
{% endif %}

{% capture filters %}
  {% for filter in display.filter.value %}
     {{ filter | downcase  }}{% unless forloop.last %} {% endunless %}
    {% endfor %}
  {% endcapture %}

  {% assign product_gid = display.product %}
{% assign product_id_array = product_gid | split: ',' %}
{% assign product_id_item = product_id_array[0] %}
{% assign all_categories = product_id_item | remove:"[" %} 
{% assign  product_id = all_categories | split: '/' %}
{% assign product_main_id = product_id |last  %}

<div
	class="relative p-4 border displayListing grid-row display-card rounded-xl custom-wishlist-icon"
	data-title="{{ display.name }}"
	data-displayNumber="{{ display.display_number }}"
	data-callout="{{ callout | default: 'null' }}"
	data-url="{{ url_handle  }}"
	data-cat="{{ filters | strip }}"
>
  {% comment %}
  <div class="wf-wishlist"  product-id="{{ display.display_number }}" product-handle="{{ url_handle }}" ></div>
  {% endcomment %}
  
   <div class="wf-wishlist-lagirl" product-img="{{ display.image.value | image_url: width: image_width, format: 'webp' }}"   product-id="{{ product_main_id | remove:"]" }}" product-handle="{{ display_handle }}" product-url-link="/pages/marketing-resources/{{ url_handle }}"       product-title="{{ display.display_number }} ~ {{ display.name }}"></div>
  
	<a class="display-container" href="/pages/marketing-resources/{{ url_handle }}">
		{% assign display_image = display.image.value %}

		{%- render 'responsive-image',
			image: display_image,
			lazyload: true,
			sizes: '33vw',
			width: 400,
			alt: 'Flyer Image',
			class: 'responsive-image object-cover w-full'
		-%}

		<div class="mx-auto font-bold text-center display-details card__title basis-16">
			<div class="mb-2 display-number">{{ display.display_number }}</div>
			<div class="text-sm display-name text-balance">{{ display.name }}</div>
		</div>
		{% if display.callout or display.badges.value %}
			<div class="grid-product__highlight absolute top-[4%] left-[4%] w-[80px] flex flex-col gap-2">
				{% if display.badges.value %}
					{{ badges }}
				{% endif %}
			</div>
		{% endif %}
	</a>
</div>
