{% assign eyesPromo = '<a href="/collections/eyes/products/brow-pomade">
<img alt="brow pomade" src="https://cdn.shopify.com/s/files/1/0944/0398/files/LAG_Brow_Pomade_front_block_image_web.jpg"/><span class="promo-title">brow pomade</span></a>'%}
{% assign lipsPromo = '<a href="/collections/lips/products/holographic-gloss-topper">
<img alt="gloss topper" src="https://cdn.shopify.com/s/files/1/0944/0398/files/LAG_gloss_topper_front_block_image_web.jpg"/><span class="promo-title">holographic gloss topper</span></a>'%}
{% assign facePromo = '<a href="/collections/face/products/pro-matte-foundation">
<img alt="pro matte foundation" src="https://cdn.shopify.com/s/files/1/0944/0398/files/LAG_Pro_Matte_front_block_image_web.jpg"/><span class="promo-title">pro.matte foundation</span></a>'%}
{% assign nailsPromo = '<a href="/collections/nails/products/liquid-chrome-nail-polish">
<img alt="liquid chrome polish" src="https://cdn.shopify.com/s/files/1/0944/0398/files/LAG_Liquid_Chrome_front_block_image_web.jpg?14913254261432031912"/><span class="promo-title">liquid chrome nail polish</span></a>'%}
{% assign accessoriesPromo = '<a href="/collections/accessories/brushes">
<img alt="Pro brush" src="https://cdn.shopify.com/s/files/1/0944/0398/files/LAG_Pro_brush_front_block_image_web.jpg"/><span class="promo-title">pro.brush</span></a>'%}
{% assign hashtagPromo = '<a href="/pages/the-wall">
<img alt="#lagirlcosmetics" src="https://cdn.shopify.com/s/files/1/0944/0398/files/LAG_Hash_tag_front_block_image_web.jpg?2842353672802004438"/><span class="promo-title">Social Gallery</span></a>'%}


<div class="site-wrap">

  <div class="level-2 ">
    <div class="nav-menu-links">
    <ul class="menu-vertical">
      <li> <a href="/pages/news-events" class="level_2 category_link">News & Events</a></li>
      <li> <a href="/blogs/magazines" class="level_2 category_link">Press/Media</a></li>
      {%comment%} <li> <a href="/pages/the-wall" class="level_2 category_link">Social Gallery</a></li> {%endcomment%}
      
    </ul>



    </div>
    {%comment%}
    <div class="nav-menu-promo-menu">
      
      {{eyesPromo}}
        
           {{lipsPromo}}
         
           {{facePromo}}
         
          {{nailsPromo}}
         
          {{accessoriesPromo}}
       {{hashtagPromo}}
    </div>
    {%endcomment%}  
  </div>


  
  
  
  
  
  
  
  
  
  
  
  
</div>

<style>
li#trending-menu .nav-menu-links ul {
    display: flex;
    width: 100%;
}
li#trending-menu .nav-menu-links ul li:last-child {
    margin-right: 0;
}
li#trending-menu .nav-menu-links ul li {
    margin-right: 4rem;
}  

</style>