{% assign swatch_selected_label_class = 'swatch-label rounded-full size-7 shrink-0 bg-cover outline-none relative' %}
{% assign swatch_label_class = 'swatch-label rounded-full size-9 shrink-0 bg-cover outline-none hover:outline-[1.5px] hover:outline-black hover:border-2 hover:border-white relative' %}

{% comment %}
	product-variant-selector.liquid
	Enhanced version with filter tabs and custom dropdown
{% endcomment %}
<div class="flex flex-col-reverse gap-4">
	<div id="swatch-icons" class="p-1 my-4">
		{% comment %} Filter tabs {% endcomment %}
		{% assign filter_category_names = '' %}
		{% assign has_filter_values = false %}

		{% for variant in product.variants %}
			{% assign filter_category_name = variant.metafields.custom.filter_category_name %}
			{% if filter_category_name != blank %}
				{% assign has_filter_values = true %}
				{% break %}
			{% endif %}
		{% endfor %}

		{% if has_filter_values %}
			<scrollable-list class="relative block mt-2 mb-4 shade-categories-slider">
				<button
					type="button"
					class="scroll-button--prev w-[50px] h-[21px] border-0 p-0 rounded-none bg-transparent absolute top-[3px] hidden"
					aria-label="Scroll to previous"
				>
					<svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect x="5.25" width="1.06068" height="7.42477" transform="rotate(45 5.25 0)" fill="currentColor"></rect>
						<rect x="6" y="9.75" width="1.06068" height="7.42477" transform="rotate(135 6 9.75)" fill="currentColor"></rect>
					</svg>
				</button>
				<div class="relative overflow-x-scroll filter-tabs">
					<ul class="flex scrollable-list swatch-category-slider__list scroll-snap shade-slider list-unstyled no-scrollbar">
						<li class="h-8 px-2 text-xs filter scrollable-list-item min-h-6 md:text-sm" data-filter="all">All</li>

						{% comment %}
							If it has a value, run the block of code that displays the ordered categories. If it does not have a value, run the block of code that gathers and displays categories from the variants.
						{% endcomment %}

						{% if product.metafields.custom.filter_category_order.value != blank %}
							{% assign ordered_categories = product.metafields.custom.filter_category_order.value %}
							{% for categories in ordered_categories %}
								<li
									class="h-8 px-2 text-xs filter scrollable-list-item min-h-6 md:text-sm"
									data-filter=".{{ categories | handleize }}"
								>
									{{- categories | capitalize -}}
								</li>
							{% endfor %}

						{% else %}
							{% assign filter_category_names = '' %}
							{% for variant in product.variants %}
								{% assign filter_category_name = variant.metafields.custom.filter_category_name %}

								{% if filter_category_name != blank %}
									{% unless filter_category_names contains filter_category_name %}
										{% assign filter_category_names = filter_category_names
											| append: filter_category_name
											| append: ','
										%}

										<li
											class="h-8 px-2 text-xs filter scrollable-list-item min-h-6 md:text-sm"
											data-filter=".{{ filter_category_name | handleize }}"
										>
											{{- filter_category_name | capitalize -}}
										</li>
									{% endunless %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</ul>
				</div>
				<button
					type="button"
					class="scroll-button--next w-[50px] h-[21px] border-0 p-0 rounded-none bg-transparent absolute top-[3px] hidden"
					aria-label="Scroll to next"
				>
					<svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="1.06068" height="7.42477" transform="matrix(-0.707107 0.707107 0.707107 0.707107 0.75 0)" fill="currentColor"></rect>
						<rect width="1.06068" height="7.42477" transform="matrix(0.707107 0.707107 0.707107 -0.707107 0 9.75)" fill="currentColor"></rect>
					</svg>
				</button>
			</scrollable-list>
		{% endif %}

		{% comment %} Swatch icons {% endcomment %}
		<div class="flex flex-wrap gap-4 swatch-wrapper">
			{% for variant in product.variants %}
				{% capture filter_tag %}
        {% if variant.metafields.custom.filter_category_name != blank %}
          {{ variant.metafields.custom.filter_category_name | handleize }}
        {% endif %}
      {% endcapture %}

				{% capture product_availability %}
        {% render 'product-availability-logic', product: product, variant: variant, text: "product_availability" %}
      {% endcapture %}

				{% assign availability = product_availability | strip %}
				{% assign hex_code = variant.metafields.custom.hex_code.value %}
				{% assign hex_image = variant.metafields.custom.hex_image.value %}
                {% assign new_tag = variant.metafields.global.varient_new_shade_tag.value %}
				<div
					class="swatch-icon mix {{ filter_tag | strip }} flex relative justify-center size-9 {% if variant.metafields.custom.hide_shade.value == true %}hide-shade{% endif %}"
					data-variant-id="{{ variant.id }}"
					data-swatch-title="{{ variant.title }}"
					data-hex-code="{{ hex_code }}"
					{% if hex_image %}
						data-hex-img="{{ hex_image | image_url: width: 60 }}"
					{% endif %}
					data-sku="{{ variant.sku | escape }}"
				>
                 	{% if new_tag %}<div class="new-badge absolute">new</div>{% endif %}
					<label
						class="{{ swatch_label_class }}"
						for="swatch-{{ variant.sku | escape }}"
						data-available="{{ product_availability | strip }}"
						{% if hex_code %}
							data-hex-code="{{ hex_code }}"
							style="--swatch-color: {{ hex_code }};"
						{% elsif hex_image %}
							data-hex-image="{{ hex_image | image_url: width: 60 }}"
							style="--swatch-bkg: url('{{ hex_image | image_url: width: 60 }}');"
						{% endif %}
					>
						{% if availability == 'true' %}{% else %}<span class="crossed-out"></span>{% endif %}
					</label>
                  
				</div>
			{% endfor %}
		</div>
	</div>

	{% comment %} Custom dropdown {% endcomment %}
	<div class="relative inline-flex w-full custom-dropdown border rounded-[32px] bg-gray-100">
		<div class="flex flex-col w-full px-3 py-2 text-sm font-semibold cursor-pointer custom-variant-dropdown gap-x-2 disabled:opacity-50 disabled:pointer-events-none">
			{% comment %}<div id="variant-dropdown-label hidden" class="text-xs">Selected Shade</div>	{% endcomment %}
			<div class="flex items-center justify-between w-full">
				<div class="flex items-center gap-4 p-2 selected-variant">
					<label class="{{ swatch_selected_label_class }}" id="selected-swatch"></label>
					<div class="flex flex-col">
						<span id="selected-variant-title">{{ product.selected_or_first_available_variant.title | escape }}</span>
						{% if product.selected_or_first_available_variant.metafields.custom.shade_detail != blank %}
							<span class="text-xs text-balance">
								{{ product.selected_or_first_available_variant.metafields.custom.shade_detail | escape }}
							</span>
						{% endif %}
					</div>
				</div>
				<svg
					class="hs-dropdown-open:rotate-180 size-4"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path d="m6 9 6 6 6-6"/></path>
				</svg>
			</div>
		</div>
		<div class="absolute z-10 top-[60px] hidden w-full overflow-y-auto bg-white border border-gray-300 shadow-lg variant-dropdown-menu max-h-60">
			{% for variant in product.variants %}
				{% assign hex_code = variant.metafields.custom.hex_code.value %}
				{% assign hex_image = variant.metafields.custom.hex_image.value %}
				<div
					class="flex items-center gap-4 p-4 cursor-pointer variant-dropdown-item hover:bg-gray-100  {% if variant.metafields.custom.hide_shade.value == true %}hide{% endif %}"
					data-variant-id="{{ variant.id }}"
					data-swatch-title="{{ variant.title }}"
					{% if hex_code %}
						data-hex-code="{{ hex_code }}"
					{% endif %}
					{% if hex_image %}
						data-hex-img="{{ hex_image | image_url: width: 30 }}"
					{% endif %}
				>
					<label
						class="{{ swatch_label_class }}"
						{% if hex_code %}
							data-hex-code="{{ hex_code }}"
							style="--swatch-color: {{ hex_code }};"
						{% elsif hex_image %}
							data-hex-image="{{ hex_image | image_url: width: 30 }}"
							style="--swatch-bkg: url('{{ hex_image | image_url: width: 30 }}');"
						{% endif %}
					></label>
					<div class="flex flex-col">
						<span class="text-sm font-medium">{{ variant.title | escape }}</span>
						{% if variant.metafields.custom.shade_detail != blank %}
							<span class="text-xs text-balance">{{ variant.metafields.custom.shade_detail | escape }}</span>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<script>
	$('.swatch-wrapper').mixItUp({
		selectors: {
			filter: '.filter',
		},
		layout: {
			display: 'flex',
		},
		animation: {
			enable: false,
		},
	});
</script>
<style>
  .new-badge {
    z-index: 1;
    background: #eb008b;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    color: white;
    font-weight: bold;
    letter-spacing: 0;
    padding: 2px;
    padding-bottom: 4px;
}
</style>