{%- liquid
	assign hide_price = false
	assign coming_soon = false
	assign new_product = false
	assign notForSale = false
	assign current_variant = product.selected_or_first_available_variant
	assign pricing = current_variant.price | money
	assign compare_pricing = current_variant.compare_at_price | money
	assign on_sale = false

	if current_variant.compare_at_price > current_variant.price
		assign on_sale = true
	endif

	if product.tags contains 'coming soon'
		assign coming_soon = true
		if current_variant.price == 10000 or current_variant.price == 0
			assign pricing = 'PRICING TO BE ANNOUNCED'
		endif
	endif

	if product.tags contains 'hide-price'
		assign hide_price = true
		assign pricing = ''
	endif

	if product.tags contains 'new'
		assign new_product = true
	endif

	if product.vendor == 'NotForSale'
		assign notForSale = true
	endif
-%}
<div class="product-info__info">
	<div class="grid pb-1 mb-4">
		{% if new_product %}
			<div class="italic font-bold text-pink-500 product_badge w-max">
				<span>NEW</span>
			</div>
		{% endif %}
		<h1 class="product_name text-[1.563rem] lg:text-[1.953rem] font-semibold">
			{{ product.title | split: '|' | first }}
		</h1>
		<div class="text-sm font-semibold sku">
			Item #
			<span class="variant-sku">{{ current_variant.sku }}</span>
		</div>
		<div class="my-2 product-star-rating">
			{% render 'bv-summary' %}
		</div>
		<div class="my-4 text-xl font-bold price_section" data-price-wrapper>
			{% if on_sale %}
				<span class="text-red-600" data-product-price itemprop="price">{{ pricing }}</span>
				<span class="ml-2 text-base text-gray-500 line-through" data-compare-price>{{ compare_pricing }}</span>
			{% else %}
				<span data-product-price itemprop="price">{{ pricing }}</span>
			{% endif %}
		</div>
		{% if product.metafields.custom.short_description %}
			<div class="product__short-description">
				{{ product.metafields.custom.short_description | metafield_tag }}
			</div>
		{% endif %}
	</div>
</div>
