          <div id="rewind-menu-backup">
          [
          {% for linklist in linklists %}
          { "id" : "{{ linklist.handle }}",
            "handle" : "{{ linklist.handle }}",
            "title" : {{ linklist.title | strip_html | json  }},
            "links" : [
                {% for link in linklist.links %}
                  {%- comment %}<locksmith:2db1>{% endcomment -%}
                    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklist, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                  {%- comment %}</locksmith:2db1>{% endcomment -%}
                  {"url" : "{{ link.url }}",
                 "title" : {{ link.title | strip_html | json }}}{% unless link == linklist.links.last %},{% endunless %}
                {% endfor %}
              ]
          }{% unless linklist.handle == linklists.last.handle %},{% endunless %}
          {% endfor %}
          ]
          </div>
