{% if customer %}


<div class="main-wrapper">

 {% include 'customer_account_side_menu' %}   
<div class="customer-service-main col-xs-12 col-md-9">  
  <div class="col-xs-12">   

<div class="grid">
<h1>Order {{order.name}}</h1>
  
  <section class="creation-date">
  	{% assign created_date = order.created_at | date: "%B %d, %Y %Ih%M%p%}
    <p {% if settings.enable_multilang %}data-translate="customer.order.date|date:{{created_date}}"{%endif%}><strong><span>Order Date</span>:</strong> {{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>

    {% if order.cancelled %}
    <div class="errors">
      {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
      <h5 {% if settings.enable_multilang %}data-translate="customer.order.cancelled|date:{{order.cancelled_at | date: "%B %d, %Y %Ih%M%p"}}"{%endif%}>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</h5>
      <p {% if settings.enable_multilang %}data-translate="customer.order.cancelled_reason|reason:{{order.cancel_reason}}"{%endif%}>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
    </div>
    {% endif %}
   </section>
  
  <div class="grid-item one-third medium-down--one-whole shipping">
	<section class="billing">
    <div class="page-header">
      <h4>Billing Address</h4>
    </div>

    <p><strong><span>Payment Status</span>:</strong> {{ order.financial_status_label }}</p>

    <h5>{{ order.billing_address.name }}</h5>
    <p>
      {% if order.billing_address.company != '' %}
        {{ order.billing_address.company }}<br>
      {% endif %}
      {{ order.billing_address.street }}<br>
      {{ order.billing_address.city }}, {% if order.billing_address.province != '' %}{{ order.billing_address.province }}{% endif %} {{ order.billing_address.zip | upcase }}<br>
      {{ order.billing_address.country }}<br>
      {{ order.billing_address.phone }}
    </p>
    </section>
    <section class="shipping">
    <div class="page-header">
      <h4 {% if settings.enable_multilang %}data-translate="customer.order.shipping_address"{%endif%}>{{ 'customer.order.shipping_address' | t }}</h4>
    </div>

    <p><strong><span {% if settings.enable_multilang %}data-translate="customer.order.fulfillment_status"{%endif%}>{{ 'customer.order.fulfillment_status' | t }}</span>:</strong> {{ order.fulfillment_status_label }}</p>

    <h5>{{ order.shipping_address.name }}</h5>
    <p>
      {% if order.shipping_address.company != '' %}
        {{ order.shipping_address.company }}<br>
      {% endif %}
      {{ order.shipping_address.street }}<br>
      {{ order.shipping_address.city }}, {% if order.shipping_address.province != '' %} {{ order.shipping_address.province }}{% endif %} {{ order.shipping_address.zip | upcase }}<br>
      {{ order.shipping_address.country }}<br>
      {{ order.shipping_address.phone }}
    </p>
    </section>
  </div>
  
  <div class="grid-item two-thirds medium-down--one-whole">
    


    <table class="full">
      <thead>
        <tr>
          <th>Product Description</th>
          <th>Sku</th>
          <th>Price</th>
          <th class="text-center">Quantity</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for line_item in order.line_items %}
        <tr id="{{ line_item.id }}">
          <td>
            {{ line_item.title | link_to: line_item.product.url }}
            {% if line_item.fulfillment %}
              <div class="note">
                {% assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' %}
                <span {% if settings.enable_multilang %}data-translate="customer.order.fulfilled_at|date:{{created_at}}"{%endif%}>{{ 'customer.order.fulfilled_at' | t: date: created_at }}</span>
                {% if line_item.fulfillment.tracking_number %}
                  <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                {% endif %}
              </div>
            {% endif %}
          </td>
          <td>{{ line_item.sku }}</td>
          <td>{{ line_item.price | money }}</td>
          <td class="text-center">{{ line_item.quantity }}</td>
          <td class="text-right">{{ line_item.quantity | times: line_item.price | money }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">Subtotal</td>
          <td class="text-right">{{ order.subtotal_price | money }}</td>
        </tr>

        {% for discount in order.discounts %}
          <tr class="order_summary discount">
            <td colspan="4">Discount</td>
            <td class="text-right">{{ discount.savings | money }}</td>
          </tr>
        {% endfor %}

        {% for shipping_method in order.shipping_methods %}
        <tr>
          <td colspan="4"><span>Shipping</span> ({{ shipping_method.title }})</td>
          <td class="text-right">{{ shipping_method.price | money }}</td>
        </tr>
        {% endfor %}

        
          <tr>
            <td colspan="4"><span>Tax</span></td>
            <td class="text-right">{{ order.tax_price | money }}</td>
          </tr>
    

        <tr>
          <td colspan="4"><strong>Total</strong></td>
          <td class="text-right"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
        </tr>
      </tfoot>
    </table>
  </div>

  

    
  </div>
  </div>
</div>
   {%else%}
  <script>
    window.location = "/account/login";
    </script>
{% endif %}
  