{% comment %}
  404.liquid template for Shopify with customizable settings and redirection
{% endcomment %}
<section class="bg-white">
    <div class="container-grid flex items-center min-h-screen px-6 py-12 mx-auto">
        <div class="flex flex-col items-center max-w-sm mx-auto text-center w-full">
            <h1 class="mt-3 text-2xl font-semibold text-gray-800 md:text-3xl">{{ section.settings.heading }}</h1>
            <p class="mt-4 text-gray-700">{{ section.settings.subtext }}</p>
            {% if section.settings.image != blank %}
              <img alt="{{ section.settings.image_alt | escape }}" class="mt-6 max-w-full h-auto" src="{{ section.settings.image | img_url: 'medium' }}"/>
            {% endif %}
            <div class="flex flex-col w-full mt-6 gap-4">
                <button onclick="window.history.back()" class="flex items-center justify-center w-full px-5 py-2 font-bold text-sm text-gray-800 transition-colors duration-200 bg-white border rounded-lg gap-x-2 hover:bg-gray-100">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                    </svg>
                    <span>{{ section.settings.back_button_text }}</span>
                </button>
                <a href="{{ section.settings.redirection_url | default: routes.root_url }}" class="flex items-center justify-center w-full px-5 py-2 text-sm font-bold tracking-wide text-white transition-colors duration-200 bg-pink-500 rounded-lg hover:bg-pink-600">
                    {{ section.settings.redirection_text }}
                </a>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "404 Not Found",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Page not found"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Subtext",
      "default": "This page may have been moved or deleted."
    },
    {
      "type": "text",
      "id": "back_button_text",
      "label": "Back Button Text",
      "default": "Go back"
    },
    {
      "type": "text",
      "id": "redirection_text",
      "label": "Redirection Text",
      "default": "Take me home"
    },
    {
      "type": "url",
      "id": "redirection_url",
      "label": "Redirection URL",
      "info": "Where to redirect the user. If empty, redirects to the home page."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "404 Image"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image Alt Text",
      "default": "404 Not Found"
    }
  ],
  "presets": [
    {
      "name": "404 Not Found"
    }
  ]
}
{% endschema %}