{%- comment -%} Layout: has user entered measurement value into max-width field? {%- endcomment -%}
{%- if section.settings.max_width contains 'px' or section.settings.max_width contains '%' -%}
  {%- assign max_width = section.settings.max_width -%}
{%- else -%}
  {%- assign max_width = section.settings.max_width | append: 'px' -%}
{%- endif -%}

{%- comment -%} Text: custom font_picker values {%- endcomment -%}
{%- capture font_settings_list -%}
{{ section.settings.main_font | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
{{ section.settings.heading_font | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
{%- endcapture -%}
{%- assign font_array = font_settings_list | split: '~' -%}

{%- capture minify -%}
{%- comment -%} CSS {%- endcomment -%}
<style>
{%- if section.settings.override_theme_font != blank -%}
  {%- for font in font_array -%}
    {%- unless font contains 'error' -%}{{ font }}{%- endunless -%}
  {%- endfor -%}
  #DP--{{ section.id }} {
    --main-font: {{ section.settings.main_font.family }}, {{ section.settings.main_font.fallback_families }};
    --main-font-weight: {{ section.settings.main_font.weight }};
    --main-font-style: {{ section.settings.main_font.style }};
    --heading-font: {{ section.settings.heading_font.family }}, {{ section.settings.heading_font.fallback_families }};
    --heading-font-weight: {{ section.settings.heading_font.weight }};
    --heading-font-style: {{ section.settings.heading_font.style }};
  }
{%- endif -%}

#DP--{{ section.id }} {
  color: {{ section.settings.text_color }};
  background: {{ section.settings.background_color }};
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
  margin-top: {{ section.settings.outer_margin }}px;
  margin-bottom: {{ section.settings.outer_margin }}px;
}

#DP--{{ section.id }} .FAQ__sizer {
  padding-top: {{ section.settings.inner_padding }}px;
  padding-bottom: {{ section.settings.inner_padding }}px;
  width: {{ section.settings.base_width }}%;
  max-width: {{ max_width }};
  flex-wrap: wrap;
}

#DP--{{ section.id }} [aria-expanded="true"] .vert {
  display: none;
}

#DP--{{ section.id }} [aria-expanded] rect {
  fill: currentColor;
}

#DP--{{ section.id }} .FAQ__heading {
  margin: 0;
  padding: 1em 0;
  color: {{ section.settings.heading_color }};
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--dp-g-heading-size, var(--dp-heading-size, 35px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .FAQ__questions {
  flex-direction: column;
}

#DP--{{ section.id }} .FAQ__question-block {
  padding-top: calc(1em + 3px);
  padding-bottom: calc(1em + 3px);
  border-top: 2px solid {{ section.settings.border_color }};
}

#DP--{{ section.id }} .FAQ__faq__expanded-true button svg {
  display: none;
}

#DP--{{ section.id }} .FAQ__faq__expanded-true .FAQ__question button {
  cursor: default;
}

#DP--{{ section.id }} .FAQ__faq__expanded-true .FAQ__text {
  height: auto;
}

#DP--{{ section.id }} .FAQ__question {
  margin: 0;
  color: {{ section.settings.heading_color }};
  font-size: calc(var(--dp-g-small-heading-size, var(--dp-small-heading-size, 24px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .FAQ__question button {
  color: inherit;
  background: transparent;
  border: none;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  text-align: left;
  text-transform: none;
  margin: 0;
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--dp-g-small-heading-size, var(--dp-small-heading-size, 20px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .FAQ__question button:focus {
  outline: none;
  /* background-color: rgba(255,255,255,0.25);
  box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.25); */
}

#DP--{{ section.id }} .FAQ__question svg {
  width: 20px;
  min-width: 20px;
  margin-left: 5px;
}

#DP--{{ section.id }} .FAQ__text {
  width: 100%;
  color: inherit;
  font-family: inherit;
  height: 0px;
  transition: height 0.5s ease;
  overflow: hidden;
}

#DP--{{ section.id }} .FAQ__text *:first-child {
  margin-top: 1em;
}

#DP--{{ section.id }} .FAQ__text p {
  margin-bottom: 1em;
  line-height: calc(3px + 3ex + 3px);
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .FAQ__additional-content {
  width: 100%;
  padding-top: 1em;
  margin-top: 2.5em;
  margin-bottom: 1em;
  border-top: thin solid {{ section.settings.border_color }};
  color: {{ section.settings.text_color }};
  line-height: calc(3px + 3ex + 3px);
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #DP--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

/* Landscape phones and down */
@media (max-width: 480px) {
  #DP--{{ section.id }} {
    margin-top: {{ section.settings.outer_margin | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.outer_margin | divided_by: 2 }}px;
  }

  #DP--{{ section.id }} .FAQ__sizer {
    min-width: 70%;
    padding-top: {{ section.settings.inner_padding | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.inner_padding | divided_by: 2 }}px;
  }

  {%- if section.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #DP--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}
</style>
<noscript>
  <style type="text/css">
      #DP--{{ section.id }} .FAQ__text {
        height: auto !important;
      }
  </style>
</noscript>

{%- comment -%} HTML {%- endcomment -%}
<section id="DP--{{ section.id }}"
        class="DP--{{ section.id }} FAQ__faq FAQ__section">
  <div class="flex">
  <div class="FAQ__sizer block
              FAQ__faq__expanded-{{ section.settings.show_answers }}">
    {%- for block in section.blocks -%}
      <div id="DP--{{ block.id }}" class="FAQ__block FAQ__block--{{ block.type }}" {{ block.shopify_attributes }}>
        {%- if block.type == "section_heading" -%}
          <div class="FAQ__heading-area FAQ__justify-{{ section.settings.alignment }}">
            <h2 class="FAQ__heading" id="{{ block.settings.title | handleize }}">{{ block.settings.title }}</h2>
          </div>
        {%- elsif block.type == "question" -%}
          <div class="FAQ__question-block">
            <h3 class="FAQ__question">
              <button aria-expanded="{{ section.settings.show_answers }}" data-accordion-trigger aria-controls="accordion-content-{{ forloop.index }}">
                {{ block.settings.title }}
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                  <rect class="vert" height="8" width="1" y="1" x="4.5"/>
                  <rect height="1" width="8" y="4.5" x="1"/>
                </svg>
              </button>
            </h3>
            <div class="FAQ__text FAQ__rte" id="accordion-content-{{ forloop.index }}">
              {{ block.settings.text }}
            </div>
          </div>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
 </div>
</section>
{%- endcapture -%}
{{ minify | strip_newlines }}

{% schema %}
{
  "name": "FAQ",
  "class": "DP__faq-simple",
  "settings": [
    {
      "type": "header",
      "content": "✏️ Text appearance"
    },
    {
      "type": "checkbox",
      "id": "show_answers",
      "label": "Show answers expanded",
      "default": false
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text size",
      "min": 80,
      "max": 150,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Heading alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "🎨 Design"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Headings",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#121212"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background",
      "default": "linear-gradient(184deg, rgba(255, 255, 255, 1) 7%, rgbargba(255, 255, 255, 1) 94%)"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Borders",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "🖼 Layout"
    },
    {
      "type": "range",
      "id": "base_width",
      "label": "Size",
      "min": 50,
      "max": 100,
      "step": 5,
      "default": 80,
      "unit": "%"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Maximum width",
      "placeholder": "eg. 1200px",
      "info": "Sets width constraint for content."
    },
    {
      "type": "range",
      "id": "inner_padding",
      "label": "Inner padding",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "outer_margin",
      "label": "Outer margin",
      "info": "Only applies to top and bottom.",
      "min": 0,
      "max": 100,
      "default": 0,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "🚨 Advanced"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "CSS"
    },
    {
      "type": "html",
      "id": "mobile_custom_css",
      "label": "Mobile CSS",
      "info": "Applied on screens less than 480px."
    },
    {
      "type": "checkbox",
      "id": "override_theme_font",
      "label": "Override default theme font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Headings and questions",
      "default": "serif"
    },
    {
      "type": "font_picker",
      "id": "main_font",
      "label": "Answers",
      "default": "sans-serif"
    }
  ],
  "blocks": [
    {
      "type": "section_heading",
      "name": "Section heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "question",
      "name": "Question block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Do you ship internationally?"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Answer",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nibh enim, ornare at consequat sed, placerat quis libero. Curabitur id nulla ut nunc aliquam sodales.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "settings": {
      },
      "blocks": [
        {
          "type": "section_heading",
          "settings": {
            "title": "Getting started"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "Where are your products manufactured?",
            "text": "<p>We are a local company and all merchandise is made with love here in Toronto, Canada.</p>"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "How do your sizes work?",
            "text": "<p>Please take a look at our size chart for more information and how to take accurate measurements.</p>"
          }
        },
        {
          "type": "section_heading",
          "settings": {
            "title": "Shipping"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "Do you ship internationally?",
            "text": "<p>Currently we are only shipping to USA and Canada.</p>"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "How much is shipping?",
            "text": "<p>If you spend over $100, shipping is always free. For any other purchases, shipping will be calculated at checkout.</p>"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "What is your return policy?",
            "text": "<p>Merchandise that is unworn and in the original packaging can be returned within 30 days with the packing slip included with the product.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
{%- comment -%} JSON Settings {%- endcomment -%}
<script type="application/json" data-FAQ="{{ section.id }}">
  {
    "id": {{ section.id | json }},
    "show_answers": {{ section.settings.show_answers | json }}
  }
</script>

{%- comment -%} JavaScript {%- endcomment -%}
<script data-FAQ-js="{{ section.id }}" type="module" defer>
(function(){

  const designPack = {
    settings: {},
    enableAccordion: function (section) {
      const accordionButtons = section.querySelectorAll("[data-accordion-trigger]");

      accordionButtons.forEach((button) => {
        button.setAttribute("aria-expanded", "false");
        button.setAttribute("role", "button");
        button.setAttribute("tabindex", "0");

        const accordionContentId = button.getAttribute("aria-controls");
        const accordionContent = section.querySelector(`#${accordionContentId}`);

        button.addEventListener("click", () => {
          const expanded = button.getAttribute("aria-expanded") === "true" || false;
          button.setAttribute("aria-expanded", !expanded);
          if (expanded) {
              var currentHeight = accordionContent.offsetHeight;
              var targetHeight = 0;
              var time = 0;
              var step = currentHeight / time;
              var interval = setInterval(() => {
                  currentHeight -= step;
                  if (currentHeight <= targetHeight) {
                      clearInterval(interval);
                      currentHeight = targetHeight;
                  }
                  accordionContent.style.height = currentHeight + 'px';
              }, 1);
          } else {
              var targetHeight = accordionContent.scrollHeight;
              var currentHeight = 0;
              var time = 0;
              var step = targetHeight / time;
              var interval = setInterval(() => {
                  currentHeight += step;
                  if (currentHeight >= targetHeight) {
                      clearInterval(interval);
                      currentHeight = targetHeight;
                  }
                  accordionContent.style.height = currentHeight + 'px';
              }, 1);
          }
      });

      button.addEventListener("keydown", (event) => {
        if (event.key === " " || event.key === "Enter") {
          event.preventDefault();
          button.click();
        }
      });
    });

    },
    load: function(section){
      if (designPack.settings.show_answers == true){
        return false;
      }

      designPack.enableAccordion(section);

    },
    unload: function(section){

    }
  }

  window.addEventListener('shopify:section:unload', function (e) {
    const settings = document.querySelector(`[data-FAQ="${e.detail.sectionId}"]`);
    const sectionId = e.detail.sectionId;
    const section = document.querySelector(`#DP--${e.detail.sectionId}`);
    if (sectionId == designPack.settings.id){
      designPack.unload(section);
    }
  });

  window.addEventListener('shopify:section:load', function (e) {
    const section = document.querySelector(`#DP--${e.detail.sectionId}`);

    // Load external JS file
    const sectionJS = document.querySelector(`[data-FAQ-js="${e.detail.sectionId}"]`);
    const sectionExternalJS = document.querySelector(`[data-FAQ-external-js="${e.detail.sectionId}"]`);

    const loadJavaScriptBlock = () => {
      if (sectionJS) {
        const sectionScript = sectionJS.innerHTML;
        const newScript = document.createElement('script');
        const inlineScript = document.createTextNode(sectionScript);
        newScript.appendChild(inlineScript);
        section.appendChild(newScript);
      }
    }

    if (sectionExternalJS) {
      const newScript = document.createElement('script');
      const externalPath = sectionExternalJS.src;
      newScript.src = externalPath;
      section.appendChild(newScript);
      newScript.onload = () => {
        loadJavaScriptBlock();
      }
    } else {
      loadJavaScriptBlock();
    }

  });


  designPack.settings = JSON.parse(document.querySelector('[data-FAQ="{{ section.id }}"]').innerHTML);
  const sectionId = {{ section.id | json }};
  const section = document.querySelector(`#DP--${sectionId}`);

  if (sectionId == designPack.settings.id){
    designPack.load(section);
  }
})()
</script>

{%- comment -%} SEO {%- endcomment -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {%- for block in section.blocks -%}
      {%- if block.type == "question" -%}
        {
          "@type": "Question",
          "name": "{{ block.settings.title | escape }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ block.settings.text | escape }}"
          }
        }{%- if forloop.last != true -%},{%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  ]
}
</script>
