{% schema %}
{
	"name": "Hero Section",
	"settings": [
		{
			"type": "text",
			"id": "badge_text",
			"label": "Badge Text",
			"default": "Made by Developers, for Developers"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Quality resources shared by the community"
		},
		{
			"type": "textarea",
			"id": "subtext",
			"label": "Subtext",
			"default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vehicula massa in enim luctus. Rutrum arcu."
		},
		{
			"type": "text",
			"id": "cta_text",
			"label": "CTA Button Text",
			"default": "Get access to resources"
		},
		{
			"type": "url",
			"id": "cta_link",
			"label": "CTA Button Link",
			"default": "/"
		},
		{
			"type": "image_picker",
			"id": "hero_image",
			"label": "Hero Image"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Top padding",
			"default": 36
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Bottom padding",
			"default": 36
		}
	],
	"presets": [
		{
			"name": "Hero Section",
			"category": "Hero"
		}
	]
}
{% endschema %}

<div class="overflow-x-hidden">
	<section
		class="relative"
		style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;"
	>
		<div class="relative px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
			<div class="max-w-3xl mx-auto text-center">
				{% if section.settings.badge_text != blank %}
					<p class="inline-flex px-4 py-2 text-base text-gray-900 border border-gray-200 rounded-full font-pj">
						{{ section.settings.badge_text }}
					</p>
				{% endif %}

				{% if section.settings.heading != blank %}
					<h1 class="mt-5 text-4xl font-bold leading-tight text-gray-900 sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight font-pj">
						{{ section.settings.heading }}
					</h1>
				{% endif %}

				{% if section.settings.subtext != blank %}
					<p class="max-w-md mx-auto mt-6 text-base leading-7 text-gray-700 font-inter">
						{{ section.settings.subtext }}
					</p>
				{% endif %}

				{% if section.settings.cta_text != blank %}
					<div class="relative inline-flex mt-10 group">
						<div
							class="absolute transitiona-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt"
						></div>

						<a
							href="{{ section.settings.cta_link }}"
							title=""
							class="relative inline-flex items-center justify-center px-8 py-4 text-lg font-bold text-white transition-all duration-200 bg-gray-900 font-pj rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
							role="button"
						>
							{{ section.settings.cta_text }}
						</a>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="mt-16 md:mt-20">
			{% if section.settings.hero_image %}
				{{
					section.settings.hero_image
					| image_url: width: 2880
					| image_tag:
						class: 'object-cover object-top w-full h-auto mx-auto scale-150 2xl:max-w-screen-2xl xl:scale-100',
						alt: section.settings.heading
				}}
			
			{% endif %}
		</div>
	</section>
</div>
