{% schema %}
{
	"name": "Testimonials",
	"settings": [
		{
			"type": "text",
			"id": "subtitle",
			"label": "Subtitle",
			"default": "2,157 people have said how good Rareblocks"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Our happy clients say about us"
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Button Text",
			"default": "Check all 2,157 reviews"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Button Link"
		},
		{
			"type": "color",
			"id": "rating_color",
			"label": "Rating Star Color",
			"default": "#FDB241"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Top padding",
			"default": 36
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Bottom padding",
			"default": 36
		}
	],
	"blocks": [
		{
			"type": "testimonial",
			"name": "Testimonial",
			"limit": 3,
			"settings": [
				{
					"type": "range",
					"id": "rating",
					"min": 1,
					"max": 5,
					"step": 1,
					"label": "Rating",
					"default": 5
				},
				{
					"type": "textarea",
					"id": "quote",
					"label": "Quote",
					"default": "You made it so simple. My new site is so much faster and easier to work with than my old site. I just choose the page, make the change."
				},
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				},
				{
					"type": "text",
					"id": "name",
					"label": "Name",
					"default": "Leslie Alexander"
				},
				{
					"type": "text",
					"id": "position",
					"label": "Position",
					"default": "Freelance React Developer"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Testimonials",
			"blocks": [
				{
					"type": "testimonial"
				},
				{
					"type": "testimonial"
				},
				{
					"type": "testimonial"
				}
			]
		}
	]
}
{% endschema %}
{% style %}
	.section-{{ section.id }} {
	  padding-top: {{ section.settings.padding_top }}px;
	  padding-bottom: {{ section.settings.padding_bottom }}px;
	}
{% endstyle %}

<section class="section-{{ section.id }} bg-gray-50">
	<div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
		<div class="flex flex-col items-center">
			<div class="text-center">
				<p class="text-lg font-medium text-gray-600 font-pj">{{ section.settings.subtitle }}</p>
				<h2 class="mt-4 text-3xl font-bold text-gray-900 sm:text-4xl xl:text-5xl font-pj">
					{{ section.settings.title }}
				</h2>
			</div>

			<div class="mt-8 text-center md:mt-16 md:order-3">
				<a
					href="{{ section.settings.button_link }}"
					title=""
					class="pb-2 text-base font-bold leading-7 text-gray-900 transition-all duration-200 border-b-2 border-gray-900 hover:border-gray-600 font-pj focus:outline-none focus:ring-1 focus:ring-gray-900 focus:ring-offset-2 hover:text-gray-600"
				>
					{{ section.settings.button_text }}
				</a>
			</div>

			<div class="relative mt-10 md:mt-24 md:order-2">
				<div class="absolute -inset-x-1 inset-y-16 md:-inset-x-2 md:-inset-y-6">
					<div
						class="w-full h-full max-w-5xl mx-auto rounded-3xl opacity-30 blur-lg filter"
						style="background: linear-gradient(90deg, hsl(322.6deg 66% 83%) 0%, hsl(327.6deg 61% 93%) 50%, hsl(338.95deg 66% 83%) 100%);"
					></div>
				</div>

				<div class="relative grid max-w-lg grid-cols-1 gap-6 mx-auto md:max-w-none lg:gap-10 md:grid-cols-3">
					{% for block in section.blocks %}
						{%- comment %}<locksmith:3cd4>{% endcomment -%}
						  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: block.settings.product, subject_parent: section, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
						{%- comment %}</locksmith:3cd4>{% endcomment -%}
						{% if block.type == 'testimonial' %}
							<div class="flex flex-col overflow-hidden shadow-xl">
								<div class="flex flex-col justify-between flex-1 p-6 bg-white lg:py-8 lg:px-7">
									<div class="flex-1">
										<div class="flex items-center">
											{% for i in (1..block.settings.rating) %}
												<svg
													class="w-5 h-5"
													xmlns="http://www.w3.org/2000/svg"
													viewBox="0 0 20 20"
													fill="{{ section.settings.rating_color }}"
												>
													<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
												</svg>
											{% endfor %}
										</div>

										<blockquote class="flex-1 mt-8">
											<p class="text-lg leading-relaxed text-gray-900 font-pj">{{ block.settings.quote }}</p>
										</blockquote>
									</div>

									<div class="flex items-center mt-8">
										{% if block.settings.product %}
                                          <img alt="{{ block.settings.product.title }}" class="flex-shrink-0 object-cover rounded-full w-11 h-11" height="44" loading="lazy" src="{{ block.settings.product.featured_image | img_url: '100x100', crop: 'center' }}" width="44"/>
                                      {% endif %}
										<div class="ml-4">
											<p class="text-base font-bold text-gray-900 font-pj">{{ block.settings.name }}</p>
											<p class="mt-0.5 text-sm font-pj text-gray-600">{{ block.settings.position }}</p>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
