{% assign collection_type =  {{page.handle}}  %}


{% assign collection_types =  {{collections[collection_type].all_types}}  %}

 



{% comment %}
{{ page.content}}
 grab page handle to get the collection name.  Use the collection name to get all products beloging to that collection.
{% endcomment %}
<div class="row">

  
   {% include 'collection-leftbar' %}
  
  <div class="block-row col-xs-9">
{% for item in collection_types reversed %}
{%- comment %}<locksmith:4f76>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: item, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
{%- comment %}</locksmith:4f76>{% endcomment -%}
{% assign item_stripped =   item| replace:' ','-' %}

<section class="widget-trending-product container" data-type="{{item_stripped}}">

  

  <div class="widget-title wow fadeIn">   

	<fieldset class="box-title">
   <legend align="center">{{ item }}</legend>
   <span class="read-more">
     <a href="{{collections[item_stripped].url}}" class="navigation-link">View all ({{collections[item_stripped].products_count}})</a>
      </span>
    </fieldset>

  </div>

  <div class="widget-product">
    <div class="products-grid owl-carousel">
    
     
      {% for product in collections[item_stripped].products %}
        {%- comment %}<locksmith:a4b4>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[item_stripped], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:a4b4>{% endcomment -%}
        {% include 'product-grid-item-trending' %}
      {% endfor %}
    </div> 
 	</div>

    

</section>
  
{% endfor %}


  </div>

</div>
 
<script>
jQuery(document).ready(function() {
  jQuery(".widget-trending-product .products-grid").owlCarousel({
    navigation : true,
    items : 5,
    itemsTablet: [767,3],
    itemsTabletSmall: [721,2]
  });
});
</script>
